<%- include("partials/header.ejs") %>

  <div class="container">
    <div class="row">
      <div class="col">
        <div class="card text-center">
          <h3 class="card-header card-head-height">
            About Us
          </h3>
          <div class="card-body">
            <p class="card-text text-left">
              Protopart is a machine shop near Mansfield in Nottinghamshire run by Chris & Francis.
              We had so many ideas that we wanted to prototype and productise but we couldn't find any one place to help us
              bring
              these ideas to life. So we built up this workshop for exactly that reason and now we want to offer you those
              services.
              We set up Protopart to enable our partners to rapidly prototype their product ideas and bring them to market.
            </p>
            
          </div>
        </div>
      </div>
    </div>
  </div>

  <%- include("partials/footer.ejs") %>