<%- include("partials/header.ejs") %>

  <div class="container">
    <div class="row">
      <div class="col">
        <h1>Contact Us</h1>
        &nbsp;
      </div>
    </div>
    <div class="row">
      <div class="col">
        <a href="mailto:protopartuk@gmail.com">Email</a>
      </div>
    </div>

  </div>



  <!-- <form>
  <input name="name" type="text" class="feedback-input" placeholder="Name" />
  <input name="email" type="text" class="feedback-input" placeholder="Email" />
  <textarea name="text" class="feedback-input" placeholder="Comment"></textarea>
  <input type="submit" value="SUBMIT" />
</form> -->


  <%- include("partials/footer.ejs") %>