<%- include("partials/header.ejs") %>

<div class="container">
  <!-- <div class="row">
    <div class="col">
      <img src="/images/11264_ProtoPart_C_C7_banner.png" alt="protopart logo image">
      &nbsp;
      &nbsp;
    </div>
  </div> -->
  <div class="row">
    <div class="col">
      <h1>Welcome to Protopart Ltd</h1>
      <p>Here at Protopart we offer CAD design and CNC machining services to manufacture products to your specification.</p>
    </div>
  </div>
</div>
<%- include("partials/footer.ejs") %>