<%- include("partials/header.ejs") %>

<div class="container">
  <!-- <div class="row">
    <div class="col">
      <img src="/images/11264_ProtoPart_C_C7_banner.png" alt="protopart logo image">
      &nbsp;
      &nbsp;
    </div>
  </div> -->
  <div class="row">
    <div class="col">
      <div class="card text-center">
        <h3 class="card-header card-head-height">
          Welcome to Protopart Ltd
        </h3>      
        <div class="card-body">
          <p class="card-text text-left">Welcome to Protopart – where precision meets passion! We're thrilled to have you here. At our workshop, crafting excellence is not just a job; it's our commitment. Explore our range of meticulously engineered solutions, where innovation and quality converge. Whether you're seeking precision machining or customized fabrication, we're here to turn your ideas into reality. Thank you for choosing us – where every project is a journey, and every customer is a valued part of our machining family.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include("partials/footer.ejs") %>