<%- include("partials/header.ejs") %>

    <div class="container">
        <div class="row">
            <div class="col">
                <h3>Services</h3>
                &nbsp;
                &nbsp;
            </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="card-deck">
              <div class="card">
                <h6 class="card-header card-head-height">
                  CNC Milling & Turning
                </h6>
                <div class="card-body">
                  <p class="card-text text-left">Experience the pinnacle of precision with our CNC milling and turning services. From intricate prototypes to large-scale production, our cutting-edge machinery and skilled artisans ensure unparalleled accuracy. Your vision, our expertise – shaping the future, one millimeter at a time.</p>
                </div>
              </div>
              <div class="card">
                <h6 class="card-header card-head-height" style="">
                  CAD Design
                </h6>
                <div class="card-body">
                  <p class="card-text text-left">Turn imagination into reality with our CAD design services. Our team of skilled designers transforms concepts into detailed, digital blueprints. Whether you're starting from scratch or refining an existing idea, our CAD services are the blueprint for success. Elevate your project with precision and creativity.</p>
                </div>
              </div>
              <div class="card">
                <h6 class="card-header card-head-height">
                  2D Wood Profiling
                </h6>
                <div class="card-body">
                  <p class="card-text text-left">Discover the artistry in wood with our routing and profiling expertise. From custom designs to intricate patterns, we bring your wooden creations to life. With state-of-the-art routing technology and a passion for craftsmanship, we carve out perfection. Unleash the beauty of wood with our dedicated routing and profiling services.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%- include("partials/footer.ejs") %>