<%- include("partials/header.ejs") %>

    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Services</h1>
                &nbsp;
                &nbsp;
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h2>CNC Milling & Turning</h2>
            </div>
            <div class="col">
                <h2>CAD Design</h2>
            </div>
            <div class="col">
                <h2>2D Wood Porfiling</h2>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p>We offer ferrous and non-ferrus machining services on our CNC milling centre, CNC mill-turn centre
                    and CNC turning machines. We can complete one-off and small batch runs for your components and
                    designs.</p>
            </div>
            <div class="col">
                <p>We can produce 3D models and designs and 2D engineering drawings based on your concepts.</p>
            </div>
            <div class="col">
                <p>We have a large CNC wood router to produce templates and cabinetry.</p>
            </div>
        </div>
    </div>

    <%- include("partials/footer.ejs") %>